.hero{
  &.is-fullheight{
    min-height: calc(100vh - 52px);
  }
}

.navbar-link::after,
.select:not(.is-multiple):not(.is-loading)::after{
  border-width: 1px;
  top: 46%;
}

.navbar.has-shadow {
    box-shadow: 0 2px 0 0 rgba($text-color, 0.25);
}
