$primary-color: #9C3CF5;
$secondary-color: #00D1B2;
$info-color: #209CEE;
$success-color: #23D160;
$danger-color: #FF3860;
$warning-color: #FFDD57;
$grey-color: #7A7A7A;
$grey-light-color: #B5B5B5;
$grey-lighter-color: #DBDBDB;
$light-color: #F5F5F5;
$white-color: #FFFFFF;

$navbar-item-hover-color: $turquoise !default;
$primary: $primary-color !default;
