.footer{
  border-top: solid 1px $border-color;

  &.is-primary{ background-color: $primary; }
  &.is-secondary{ background-color: $secondary-color; }
  &.is-info{ background-color: $info-color; }
  &.is-danger{ background-color: $danger-color; }
  &.is-success{ background-color: $success-color; }
  &.is-warning{ background-color: $warning-color; }

  a{
    color: $primary-color;

    &:hover{
      text-decoration: underline;
    }
  }

  &.is-primary, &.is-secondary, &.is-info, &.is-danger, &.is-success{
    color: $white-color;

    strong, span, b, em, i{
      color: $white-color;
    }

    a{
      color: $secondary-color;
    }
  }
}
