.ingredients{
  background-color: #FFFEE5;
  padding: 20px;

  .ingredient-field{
    position: relative;

    .ingredient-input{
      border: none;
      border-bottom: solid 1px $text-color;
      width: 100%;
      background: transparent;
      padding: 6px 26px 6px 4px;
      margin-bottom: 5px;
    }

    .delete-ingredient{
        position: absolute;
        top: 8px;
        right: 5px;
    }
  }
}
