/* Reset */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: normal;
    line-height: normal;
  }

  :after,:before{
    box-sizing: border-box;
  }

  ::placeholder{
    color: gainsboro;
  }

  body{
    color: $text-color;
    font-size: 1rem;
    font-family: sans-serif;
  }

  /* Mozilla based browsers */
  ::-moz-selection {
         background-color: #FFA;
         color: #000;
  }

  /* Works in Safari */
  ::selection {
         background-color: #FFA;
         color: #000;
  }


/* Tipography*/
  /* Defaults */
    h1,h2,h3,h4,h5,h6{
      margin: 20px 0 12px;
      font-weight: 500;
    }

    h1 *,h2 *,h3 *,h4 *,h5 *,h6 *{
      font-weight: 500;
    }

    p{ margin-bottom: 8px; }

  /* Sizes */
    h1, h1 *, .vd-size-1{
      font-size: 2.7rem;
    }

    h2, h2 *, .vd-size-2{
      font-size: 2.2rem;
    }

    h3, h3 *, .vd-size-3{
      font-size: 1.9rem;
    }

    h4, h4 *, .vd-size-4{
      font-size: 1.7rem;
    }

    h5, h5 *, .vd-size-5{
      font-size: 1.5rem;
    }

    h6, h6 *, .vd-size-6{
      font-size: 1.3rem;
    }

    .vd-size-7{
      font-size: 1rem;
    }

    .vd-size-8{
      font-size: 0.8rem;
    }

    .vd-size-9{
      font-size: 0.65rem;
    }

  /* Colors */
    .vd-text-primary{
      color: $primary-color;
    }
    .vd-text-secondary{
      color: $secondary-color;
    }

    .vd-text-info{
      color: $info-color;
    }

    .vd-text-success{
      color: $success-color;
    }

    .vd-text-danger{
      color: $danger-color;
    }

    .vd-text-warning{
      color: $warning-color;
    }

    .vd-text-grey{
      color: $grey-color;
    }

    .vd-text-grey-light{
      color: $grey-light-color;
    }

    .vd-text-grey-lighter{
      color: $grey-lighter-color;
    }

    .vd-text-light{
      color: $light-color;
    }

    .vd-text-white{
      color: $white-color;
    }


/* Forms */
  .vd-radio__group,
  .vd-checkbox__group{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* Radio buttons */
    /* Defaults */
      .vd-radio{
        position: relative;
        margin-right: 1.125rem;
        cursor: pointer;

        input{
          position: absolute;
          left: -99999px;
        }
      }

      .vd-radio__label::selection{
        color: inherit;
        background-color: transparent;
      }

      .vd-radio__label::-moz-selection{
        color: inherit;
        background-color: transparent;
      }

      .vd-radio__label{
        padding-left: 1.5rem;
        transition: color 100ms ease-in-out;
      }

      .vd-radio__check:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        border: solid 2px $text-color;
        border-radius: 999px;
      }

      .vd-radio__check:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1rem;
        height: 1rem;
        background-color: $text-color;
        border-radius: 999px;
        transform: scale(0);
        transition: transform 100ms ease-in-out;
      }

      .vd-radio input:checked + .vd-radio__info .vd-radio__check:after{
        transform: scale(1.1);
      }

    /* Colors */
      .vd-radio.is-primary .vd-radio__check:after{
        background-color: $primary-color;
      }

      .vd-radio.is-primary input:checked + .vd-radio-info .vd-radio__label{
        color: $primary-color;
      }
      .vd-radio.is-secondary .vd-radio__check:after{
        background-color: $secondary-color;
      }

      .vd-radio.is-secondary input:checked + .vd-radio-info .vd-radio__label{
        color: $secondary-color;
      }

      .vd-radio.is-info .vd-radio__check:after{
        background-color: $info-color;
      }

      .vd-radio.is-info input:checked + .vd-radio-info .vd-radio__label{
        color: $info-color;
      }

      .vd-radio.is-success .vd-radio__check:after{
        background-color: $success-color;
      }

      .vd-radio.is-success input:checked + .vd-radio-info .vd-radio__label{
        color: $success-color;
      }

      .vd-radio.is-danger .vd-radio__check:after{
        background-color: $danger-color;
      }

      .vd-radio.is-danger input:checked + .vd-radio-info .vd-radio__label{
        color: $danger-color;
      }

      .vd-radio.is-warning .vd-radio__check:after{
        background-color: $warning-color;
      }

      .vd-radio.is-warning input:checked + .vd-radio-info .vd-radio__label{
        color: $warning-color;
      }

    /* Sizes */
      /* Extra large */
        .vd-radio.is-xlarge{
          margin-right: 1.8rem;
        }

        .vd-radio.is-xlarge .vd-radio__check:before,
        .vd-radio.is-xlarge .vd-radio__check:after{
          top: -0.25rem;
          width: 1.4rem;
          height: 1.4rem;
        }

        .vd-radio.is-xlarge .vd-radio__label{
          padding-left: 2rem;
          font-size: 1.4rem;
        }

      /* Large */
        .vd-radio.is-large{
          margin-right: 1.4rem;
        }

        .vd-radio.is-large .vd-radio__check:before,
        .vd-radio.is-large .vd-radio__check:after{
          top: -0.15rem;
          width: 1.15rem;
          height: 1.15rem;
        }

        .vd-radio.is-large .vd-radio__label{
          padding-left: 1.7rem;
          font-size: 1.15rem;
        }

      /* Small */
        .vd-radio.is-small{
          margin-right: 1.1rem;
        }

        .vd-radio.is-small .vd-radio__check:before,
        .vd-radio.is-small .vd-radio__check:after{
          top: 0.1rem;
          width: 0.9rem;
          height: 0.9rem;
        }

        .vd-radio.is-small .vd-radio__label{
          padding-left: 1.3rem;
          font-size: 0.9rem;
        }

      /* Extra small */
        .vd-radio.is-xsmall{
          margin-right: 0.9rem;
        }

        .vd-radio.is-xsmall .vd-radio__check:before,
        .vd-radio.is-xsmall .vd-radio__check:after{
          top: 0.2rem;
          width: 0.8rem;
          height: 0.8rem;
        }

        .vd-radio.is-xsmall .vd-radio__label{
          padding-left: 1.2rem;
          font-size: 0.8rem;
        }

  /* Checkbox */
    /* Defaults */
      .vd-checkbox{
        position: relative;
        margin-right: 1.125rem;
        cursor: pointer;

        input{
          position: absolute;
          left: -99999px;
        }
      }

      .vd-checkbox__label::selection{
        color: inherit;
        background-color: transparent;
      }

      .vd-checkbox__label::-moz-selection{
        color: inherit;
        background-color: transparent;
      }

      .vd-checkbox__label{
        padding-left: 1.5rem;
        transition: color 100ms ease-in-out;
      }

      .vd-checkbox__check:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        border: solid 2px $text-color;
        transition: all 100ms ease-in-out;
      }

      .vd-checkbox input:checked + .vd-checkbox__info .vd-checkbox__check:before{
        width: 0.7rem;
        height: 1.2rem;
        border-color: transparent $text-color $text-color transparent;
        transform: rotate(45deg);
        transform-origin: 120%;
      }

      .vd-checkbox input:checked + .vd-checkbox__info .vd-checkbox__label{
        color: $text-color;
      }

      .vd-checkbox input:focus:not(:checked) + .vd-checkbox__info .vd-checkbox__check:before{
        box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
      }

      .vd-checkbox input:focus:checked + .vd-checkbox__info .vd-checkbox__check:before{
        box-shadow: 2px 2px 0px 0.025em rgba(54, 54, 54, 0.25);
      }

    /* Colors */
      .vd-checkbox.is-primary input:checked + .vd-checkbox__info .vd-checkbox__check:before{
        border-color: transparent $primary-color $primary-color transparent;
      }

      .vd-checkbox.is-primary input:checked + .vd-checkbox__info .vd-checkbox__label{
        color: $primary-color;
      }

        .vd-checkbox.is-primary input:focus:not(:checked) + .vd-checkbox__info .vd-checkbox__check:before{
          box-shadow: 0 0 0 0.125em rgba($primary-color, 0.25);
        }

        .vd-checkbox.is-primary input:focus:checked + .vd-checkbox__info .vd-checkbox__check:before{
          box-shadow: 2px 2px 0px 0.025em rgba($primary-color, 0.25);
        }

      .vd-checkbox.is-info input:checked + .vd-checkbox__info .vd-checkbox__check:before{
        border-color: transparent $info-color $info-color transparent;
      }

      .vd-checkbox.is-info input:checked + .vd-checkbox__info .vd-checkbox__label{
        color: $info-color;
      }

        .vd-checkbox.is-info input:focus:not(:checked) + .vd-checkbox__info .vd-checkbox__check:before{
          box-shadow: 0 0 0 0.125em rgba($info-color, 0.25);
        }

        .vd-checkbox.is-info input:focus:checked + .vd-checkbox__info .vd-checkbox__check:before{
          box-shadow: 2px 2px 0px 0.025em rgba($info-color, 0.25);
        }

      .vd-checkbox.is-success input:checked + .vd-checkbox__info .vd-checkbox__check:before{
        border-color: transparent $success-color $success-color transparent;
      }

      .vd-checkbox.is-success input:checked + .vd-checkbox__info .vd-checkbox__label{
        color: $success-color;
      }

        .vd-checkbox.is-success input:focus:not(:checked) + .vd-checkbox__info .vd-checkbox__check:before{
          box-shadow: 0 0 0 0.125em rgba($success-color, 0.25);
        }

        .vd-checkbox.is-success input:focus:checked + .vd-checkbox__info .vd-checkbox__check:before{
          box-shadow: 2px 2px 0px 0.025em rgba($success-color, 0.25);
        }

      .vd-checkbox.is-danger input:checked + .vd-checkbox__info .vd-checkbox__check:before{
        border-color: transparent $danger-color $danger-color transparent;
      }

      .vd-checkbox.is-danger input:checked + .vd-checkbox__info .vd-checkbox__label{
        color: $danger-color;
      }

        .vd-checkbox.is-danger input:focus:not(:checked) + .vd-checkbox__info .vd-checkbox__check:before{
          box-shadow: 0 0 0 0.125em rgba($danger-color, 0.25);
        }

        .vd-checkbox.is-danger input:focus:checked + .vd-checkbox__info .vd-checkbox__check:before{
          box-shadow: 2px 2px 0px 0.025em rgba($danger-color, 0.25);
        }

      .vd-checkbox.is-warning input:checked + .vd-checkbox__info .vd-checkbox__check:before{
        border-color: transparent $warning-color $warning-color transparent;
      }

      .vd-checkbox.is-warning input:checked + .vd-checkbox__info .vd-checkbox__label{
        color: $warning-color;
      }

        .vd-checkbox.is-warning input:focus:not(:checked) + .vd-checkbox__info .vd-checkbox__check:before{
          box-shadow: 0 0 0 0.125em rgba($warning-color, 0.25);
        }

        .vd-checkbox.is-warning input:focus:checked + .vd-checkbox__info .vd-checkbox__check:before{
          box-shadow: 2px 2px 0px 0.025em rgba($warning-color, 0.25);
        }

    /* Sizes */
      /* Extra large */
        .vd-checkbox.is-xlarge{
          margin-right: 1.8rem;
        }

        .vd-checkbox.is-xlarge .vd-checkbox__check:before{
          top: -5px;
          width: 1.4rem;
          height: 1.4rem;
        }

        .vd-checkbox.is-xlarge input:checked + .vd-checkbox__info .vd-checkbox__check:before{
          width: 1rem;
          height: 1.7rem;
          transform-origin: 135%;
        }

        .vd-checkbox.is-xlarge .vd-checkbox__label{
          padding-left: 2rem;
          font-size: 1.4rem;
        }

      /* Large */
        .vd-checkbox.is-large{
          margin-right: 1.4rem;
        }

        .vd-checkbox.is-large .vd-checkbox__check:before{
          top: -0.15rem;
          width: 1.15rem;
          height: 1.15rem;
        }

        .vd-checkbox.is-large input:checked + .vd-checkbox__info .vd-checkbox__check:before{
          width: 0.8rem;
          height: 1.4rem;
          transform-origin: 130%;
        }

        .vd-checkbox.is-large .vd-checkbox__label{
          padding-left: 1.7rem;
          font-size: 1.15rem;
        }

      /* Small */
        .vd-checkbox.is-small{
          margin-right: 1.1rem;
        }

        .vd-checkbox.is-small .vd-checkbox__check:before{
          top: 0.1rem;
          width: 0.9rem;
          height: 0.9rem;
        }

        .vd-checkbox.is-small input:checked + .vd-checkbox__info .vd-checkbox__check:before{
          width: 0.6rem;
          height: 1rem;
          transform-origin: 120%;
        }

        .vd-checkbox.is-small .vd-checkbox__label{
          padding-left: 1.3rem;
          font-size: 0.9rem;
        }

      /* Extra small */
        .vd-checkbox.is-xsmall{
          margin-right: 0.9rem;
        }

        .vd-checkbox.is-xsmall .vd-checkbox__check:before{
          top: 0.2rem;
          width: 0.8rem;
          height: 0.8rem;
        }

        .vd-checkbox.is-xsmall input:checked + .vd-checkbox__info .vd-checkbox__check:before{
          width: 0.5rem;
          height: 0.85rem;
          transform-origin: 110%;
        }

        .vd-checkbox.is-xsmall .vd-checkbox__label{
          padding-left: 1.2rem;
          font-size: 0.8rem;
        }

  /* Inputs */
    /* Defaults */
      .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
      .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder{
        top: -0.75rem;
        left: 0;
        font-size: 0.75rem;
        color: $text-color;
      }

      .vd-placeholder{
        position: absolute;
        top: 12px;
        left: 8px;
        color: #DDD;
        transition: all 200ms ease-in-out;
        z-index: -1;
      }

    /* Input */
      .vd-input{
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 1.75rem;
        border: none;
        z-index: 1;

        ::placeholder{
          color: transparent;
        }
      }

      .vd-input-field{
        width: 100%;
        height: 100%;
        background-color: transparent;
        padding: 6px 8px;
        border: none;
        border-bottom: solid 2px $text-color;
      }

    /* Textarea */
      .vd-textarea{
        position: relative;
        width: 100%;
        margin-top: 1.75rem;
        border: none;
        z-index: 1;

        ::placeholder{
          color: transparent;
        }
      }

      .vd-textarea-field{
        width: 100%;
        height: 100%;
        background-color: transparent;
        padding: 10px 8px 6px 8px;
        border: none;
        border-bottom: solid 1px $text-color;
        line-height: 1.3;
        resize: none;
      }

    /* Colors */
      /* Labels */
        .vd-input .vd-input-field:not(:placeholder-shown) + .vd-placeholder.is-transparent,
        .vd-textarea .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder.is-transparent{
          display: none;
        }

        .vd-input.is-primary .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-textarea.is-primary .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-input.has-label-primary .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-textarea.has-label-primary .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder{
          color: $primary-color;
        }

        .vd-input.is-secondary .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-textarea.is-secondary .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-input.has-label-secondary .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-textarea.has-label-secondary .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder{
          color: $secondary-color;
        }

        .vd-input.is-info .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-textarea.is-info .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-input.has-label-info .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-textarea.has-label-info .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder{
          color: $info-color;
        }

        .vd-input.is-success .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-textarea.is-success .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-input.has-label-success .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-textarea.has-label-success .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder{
          color: $success-color;
        }

        .vd-input.is-danger .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-textarea.is-danger .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-input.has-label-danger .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-textarea.has-label-danger .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder{
          color: $danger-color;
        }

        .vd-input.is-warning .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-textarea.is-warning .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-input.has-label-warning .vd-input-field:not(:placeholder-shown) + .vd-placeholder,
        .vd-textarea.has-label-warning .vd-textarea-field:not(:placeholder-shown) + .vd-placeholder{
          color: $warning-color;
        }

      /* Borders */
        .vd-input .vd-input-field:focus,
        .vd-textarea .vd-input-field:focus,
        .vd-input.is-primary .vd-input-field,
        .vd-textarea.is-primary .vd-input-field,
        .vd-input.is-primary .vd-input-field:focus,
        .vd-textarea.is-primary .vd-input-field:focus,
        .vd-input.has-border-primary .vd-input-field,
        .vd-textarea.has-border-primary .vd-input-field{
          border-color: $primary-color;
        }

        .vd-input.is-secondary .vd-input-field,
        .vd-textarea.is-secondary .vd-input-field,
        .vd-input.is-secondary .vd-input-field:focus,
        .vd-textarea.is-secondary .vd-input-field:focus,
        .vd-input.has-border-secondary .vd-input-field,
        .vd-textarea.has-border-secondary .vd-input-field{
          border-color: $secondary-color;
        }

        .vd-input.is-info .vd-input-field,
        .vd-textarea.is-info .vd-input-field,
        .vd-input.is-info .vd-input-field:focus,
        .vd-textarea.is-info .vd-input-field:focus,
        .vd-input.has-border-info .vd-input-field,
        .vd-textarea.has-border-info .vd-input-field{
          border-color: $info-color;
        }

        .vd-input.is-success .vd-input-field,
        .vd-textarea.is-success .vd-input-field,
        .vd-input.is-success .vd-input-field:focus,
        .vd-textarea.is-success .vd-input-field:focus,
        .vd-input.has-border-success .vd-input-field,
        .vd-textarea.has-border-success .vd-input-field{
          border-color: $success-color;
        }

        .vd-input.is-danger .vd-input-field,
        .vd-textarea.is-danger .vd-input-field,
        .vd-input.is-danger .vd-input-field:focus,
        .vd-textarea.is-danger .vd-input-field:focus,
        .vd-input.has-border-danger .vd-input-field,
        .vd-textarea.has-border-danger .vd-input-field{
          border-color: $danger-color;
        }

        .vd-input.is-warning .vd-input-field,
        .vd-textarea.is-warning .vd-input-field,
        .vd-input.is-warning .vd-input-field:focus,
        .vd-textarea.is-warning .vd-input-field:focus,
        .vd-input.has-border-warning .vd-input-field,
        .vd-textarea.has-border-warning .vd-input-field{
          border-color: $warning-color;
        }


/* Tags */
  /* Defaults */
    .vd-tags{
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 5px;
      width: 100%;
      min-height: 40px;
      margin-top: 1.75rem;
      border: none;
      border-bottom: solid 1px $text-color;
    }

    .vd-tags__control{
      flex: auto;
      position: relative;
      top: 3px;
      cursor: text;
    }

    .vd-tag__icon{
      background-color: gainsboro;
      position: absolute;
      top: 8px;
      left: 5px;
      width: 14px;
      height: 14px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;

      &:before{
        content: '';
        position: absolute;
        left: 100%;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 6px solid gainsboro;
      }
    }

    .vd-tags-field{
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding: 6px 8px 6px 32px;
      border: none;

      &:focus{
        +.vd-tag__icon{
          // background-color: #AFAFAF;
          background-color: rgba($primary-color, 0.5);

          &:before{
            // border-left-color: #AFAFAF;
            border-left-color: rgba($primary-color, 0.5);
          }
        }
      }
    }

    .vd-tags__delete{
      -moz-appearance: none;
      -webkit-appearance: none;
      background-color: rgba(10, 10, 10, 0.2);
      border: none;
      border-radius: 290486px;
      cursor: pointer;
      display: inline-block;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      font-size: 0;
      height: 16px;
      max-height: 16px;
      max-width: 16px;
      min-height: 16px;
      min-width: 16px;
      width: 16px;
      outline: none;
      position: absolute;
      top: 7px;
      right: 9px;
      vertical-align: top;
      user-select: none;

      &:hover{
        background-color: rgba(10, 10, 10, 0.3)
      }

      &::before, &::after {
        background-color: $white-color;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform-origin: center center;
      }

      &::before{
        height: 2px;
        width: 50%;
      }

      &::after{
        height: 50%;
        width: 2px;
      }
    }

    .vd-tag{
      position: relative;
      background-color: gainsboro;
      padding: 6px 32px 6px 10px;
      margin-top: 5px;
      margin-right: 5px;
      border-radius: 3px;
      cursor: default;

      // Colors
      &.is-primary{
        background-color: $primary-color;
        color: $white-color;
      }

      &.is-secondary{
        background-color: $secondary-color;
        color: $white-color;
      }

      &.is-info{
        background-color: $info-color;
        color: $white-color;
      }

      &.is-danger{
        background-color: $danger-color;
        color: $white-color;
      }

      &.is-success{
        background-color: $success-color;
        color: $white-color;
      }

      &.is-warning{
        background-color: $warning-color;
      }
    }

    /* Borders */
      .vd-tags.is-primary,
      .vd-tags.has-border-primary{
        border-color: $primary-color;
      }

      .vd-tags.is-secondary,
      .vd-tags.has-border-secondary{
        border-color: $secondary-color;
      }

      .vd-tags.is-info,
      .vd-tags.has-border-info{
        border-color: $info-color;
      }

      .vd-tags.is-success,
      .vd-tags.has-border-success{
        border-color: $success-color;
      }

      .vd-tags.is-danger,
      .vd-tags.has-border-danger{
        border-color: $danger-color;
      }

      .vd-tags.is-warning,
      .vd-tags.has-border-warning{
        border-color: $warning-color;
      }
